/annotations/processor/nbproject/private/
annotations/library/build/
annotations/library/dist/
master/build/
themes/build/
themes/dist/
webui/classes/
webui/dist/
webui/gen/
webui/javadocs/
webui/lib/annotations/
webui/lib/external/
webui/lib/netbeans/org-openide-explorer-RELEASE82.jar
webui/lib/netbeans/org-openide-util-RELEASE802.jar
webui/nbproject/private/
webui/netbeans/
webui/webui-dt.mf
webui/webui-module-stub.mf
webui/webui.mf

target/

.classpath
.project
.settings/
*.iml
*nbactions.xml
.vscode/
.idea
nb-configuration.xml
/annotations/library/nbproject/private/
/annotations/processor/dist/